.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0e9d9;
  border: 2px solid #db2a27;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pokemon-details img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.pokemon-details h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #db2a27;
}

.pokemon-details p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #404040;
}

.type,
.ability {
  display: inline-block;
  background-color: #e8e8e8;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  font-weight: 600;
  color: #404040;
}